
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
  .landing-page {
    text-align: center;
    padding: 50px;
  }
  .header {
    margin-bottom: 30px;
  }
  
  .header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 18px;
    color: #555;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
.organizer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.feature-container {
  margin: auto auto;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  width: 500px;
}

.feature-container > div {
  background-color: hsl(215, 71%, 55%);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.feature-container > div > a {
  text-decoration: none;
  color: white;
}
.feature-container > div:hover {
  transform: translateY(-10px);
}
.other-feature{
  
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  .feature {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .feature p {
    font-size: 16px;
    color: #777;
  }
  
  .feature h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (max-width: 768px) {
    .features {
      flex-direction: column;
      align-items: center;
    }
 
    .feature {
      width: 90%;
      margin: 10px 0;
    }
  }
  @media (max-width: 568px) {
    .feature-container{
      width: 200px;
      align-items: center;
    }
  
  }
  